body {
  color: white;
  background-color: rgb(92, 18, 18);
}
h1 {
  font-size: 32px;
  text-align: center;
}
a {
  margin-top: 0.5rem;
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  &:hover {
    color: whitesmoke;
  }
}
